## Global Ignores ##
.DS_Store
node_modules
npm-debug.log
*.swp

# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*

## Gulp Builds (Change according to your project) ##
/public/assets/**/*.js
/public/assets/**/*.css
